$beer-color: #ffd36d;
$background-color: #8fd3d3;
$beer-stripes-color: #ebc264;
$beer-glass-color: #f0f0f0;

@mixin circle($radius) {
  width: $radius;
  height: $radius;
  border-radius: 100%;
}

@mixin vertical-object {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin shadow($a, $b, $c, $d, $e) {
  -webkit-box-shadow: $a $b $c $d $e;
  -moz-box-shadow: $a $b $c $d $e;
  box-shadow: $a $b $c $d $e;
}

body {
  background: $background-color;
  margin: 0;
}

.center-object {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20%;
  height: 20%;
  background: white;
  animation: 6s moveX infinite;
}


.box-shadow {
  height: 30%;
  width: 30%;
  background: white;
  @include shadow(13px, 10px, 4px, 5px, #E8E8E8);
}

.coffe-cup {
  height: 10%;
  width: 160px;

  border-top: 300px solid white;
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
}

.button-example{
  width: 30%;
  height: 15%;
  border: 5px solid white;
  border-radius: 10px;
  @include vertical-object;

  p {
    font-size: 35px;
    text-align: center;
    font-family: 'Roboto';
    color: white;
  }
}

.beer {
  width: 20%;
  height: 40%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  .beer-glass {
    top: 20%;
    left: 5%;
    position: absolute;
    width: 140px;
    height: 200px;
    border: 12px solid $beer-glass-color;
    border-radius: 12px;

    &:before, &:after {
      position: absolute;
      content: '';
    }
    &:before {
      height: 45%;
      width: 40%;
      background: $beer-glass-color;
      right: -60px;
      bottom: 31%;
      border-radius: 15px;
    }
    &:after {
      height: 33%;
      width: 27%;
      background: $background-color;
      right: -51px;
      bottom: 36%;
      border-radius: 15px;
    }
  }
}

.beer-glass__content {
  background: $beer-color;
  height: inherit;
  width: inherit;

  &:before, &:after {
    position: absolute;
    content: '';
    height: 60%;
    width: 16%;
    border-radius: 10px;
    background: $beer-stripes-color;
  }
  &:before {
    left: 25%;
  }
  &:after {
    right: 25%;
  }
}

.beer-topping {
  position: absolute;
  width: 80%;
  height: 60%;
  z-index: 1;

  .beer-topping__bubbles--small {
    position: relative;
    width: inherit;

    &:before, &:after {
      position: absolute;
      content: '';
      background: white;
    }
    &:before {
      @include circle(10px);
      bottom: -10%;
      left: 53%;
      animation: 3s blink 1 forwards;
    }
    &:after {
      @include circle(15px);
      right: 0%;
      bottom: 10%;
      animation: 3s blink 1 1s forwards;
    }
  }

  .beer-liquid-bubbles {
    @include circle(50px);
    background: white;
    position: relative;
    left: -2%;
    top: 20%;

    &:before, &:after {
      position: absolute;
      content: '';
      background: white;
    }
    &:before {
      @include circle(80px);
      bottom: -10%;
      left: 50%;
    }
    &:after {
      @include circle(65px);
      right: -200%;
      bottom: 10%;
      box-shadow: 40px 16px 0px 0px white;
    }
  }

  .beer-liquid-drip {
    position: relative;
    width: 30px;
    height: 120px;
    top: 0%;
    left: 4%;
    background: white;
    border-radius: 20px;
    box-shadow: 26px 20px 0px 0px white;
    animation:
      6s drip infinite;
  }
}

@keyframes blink {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}


@keyframes drip {
  0% {
    //transform: translateY(0px);
    height: 120px;
  }
  100% {
    height: 170px;
  }
}

@keyframes moveX {
  0% {
    left: 20%;
  }
  100% {
    left: 70%;
  }
}
